<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app uses Bluetooth to connect with nearby family members' devices</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>This app uses Bluetooth to connect with nearby family members' devices</string>
    <key>CFBundleDisplayName</key>
    <string>12x Connect</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>bluetooth-central</string>
        <string>bluetooth-peripheral</string>
    </array>
    <key>NSBonjourServices</key>
    <array>
        <string>_4514d666-d6c9-49cb-bc31-dc6dfa28bd58._tcp</string>
    </array>
    <key>NSLocalNetworkUsageDescription</key>
    <string>This app uses your local network to discover and connect to nearby family members' devices</string>
</dict>
</plist>